.weatherBg{
  background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
  height:50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: black;
  font-weight: 700;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.weatherIcon{
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}
.weatherCity
{
  font-size: 35px;
}
.weatherTemp{
  font-size: 55px;
  font-weight: 700;
}